<div class="panel panel-default">
  <div class="panel-body">
     <div class="row">
       <div class="col-md-4">
         <%= image_tag @movie.image.url(:medium) %>
          <p><%= t('review.average')%> <%= @avg_review %></p>
          <em><%= "#{@reviews.length} reviews" %></em>
         <div class="table-responsive">
          <table class="table">
            <tbody>

              <tr>
                <td><strong><%= t('movie.title')%></strong></td>
                <td><%= @movie.title %></td>
              </tr>

              <tr>
                <td><strong><%= t('movie.description')%></strong></td>
                <td><%= @movie.description %></td>
              </tr>

              <tr>
                <td><strong><%= t('movie.movie_length')%></strong></td>
                <td><%= @movie.movie_length %></td>
              </tr>

              <tr>
                <td><strong><%= t('movie.director')%></strong></td>
                <td><%= @movie.director %></td>
              </tr>

              <tr>
                <td><strong><%= t('movie.rating')%></strong></td>
                <td><%= @movie.rating %> /10</td>
              </tr>

            </tbody>
          </table>

          <%= link_to "Write a Review", new_movie_review_path(@movie), class: "btn btn-primary" %>
        </div>
      </div>

      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>
          <p><%= @movie.description %></p>
          <%# If theres is no review, then it will provide a link for the user to create one.%>
          <% if @reviews.blank? %>
            <h3><%= t('review.review_empty')%></h3>
            <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>

          <%# Else it will display all the reviews.%>
          <% else %>
            <% @reviews.each do |review| %>
            <div class="reviews">
              <p><%= review.rating%>/10</p>
              <p><%= review.comment %></p>
            </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', movies_path %> |

<% if user_signed_in?%>
  <%# If the user is signed in and the movie user id is equals to the current user is, then the user will be able to edit or delete the movie. %>
  <% if @movie.user_id == current_user.id %>
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: t('confirm')} %>
  <% end %>
<% end %>
