<p><%= "Dear customer"%></p>

<p><%= "Please get in touch with me." %></p>

<dl></dl>
<dt>Name: </dt>
<dd><%= @name %></dd>

<dt>Email: </dt>
<dd><%= @email%></dd>

<p><%= @message%></p>

<p>Thanks,</p>
<p><%= @name%></p>
